@model SGVendas.Application.DTOs.ProdutoDto

<h2>Novo Produto</h2>

<form asp-action="Novo" method="post">

    <div class="row">
        <div class="col-md-6">
            <label>Nome do Produto</label>
            <input asp-for="NomeProduto" class="form-control" />
        </div>

        <div class="col-md-3">
            <label>Referência</label>
            <input asp-for="Referencia" class="form-control" />
        </div>

        <div class="col-md-3">
            <label>GTIN / EAN</label>
            <input asp-for="GtinEan" class="form-control" />
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-3">
            <label>Preço de Custo</label>
            <input asp-for="PrecoCusto" class="form-control" />
        </div>

        <div class="col-md-3">
            <label>Lucro</label>
            <input asp-for="Lucro" class="form-control" />
        </div>

        <div class="col-md-3">
            <label>Preço de Venda</label>
            <input asp-for="PrecoDeVenda" class="form-control" />
        </div>

        <div class="col-md-3">
            <label>Estoque</label>
            <input asp-for="Estoque" class="form-control" />
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-3">
            <label>Status</label>
            <select asp-for="Status" class="form-control">
                <option value="Disponível">Disponível</option>
                <option value="Indisponível">Indisponível</option>
            </select>
        </div>

        <div class="col-md-3">
            <label>Unidade</label>
            <input asp-for="Unidade" class="form-control" />
        </div>

        <div class="col-md-3">
            <label>Marca</label>
            <input asp-for="Marca" class="form-control" />
        </div>

        <div class="col-md-3">
            <label>Data Validade</label>
            <input asp-for="DataValidade" type="date" class="form-control" />
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <label>Observação / Situação</label>
            <textarea asp-for="Situacao" class="form-control"></textarea>
        </div>
    </div>

    <div class="mt-4">
        <button type="submit" class="btn btn-success">
            <i class="bi bi-check-circle"></i> Salvar
        </button>

        <a asp-action="Index" class="btn btn-secondary">
            Voltar
        </a>
    </div>

</form>
