@{
    ViewData["Title"] = "SGVendas - Principal";
}

<h1>SGVendas</h1>
<hr />

<div class="menu-principal">
    <a class="btn btn-primary" href="/Cliente">Clientes</a>
    <a class="btn btn-primary" href="/Produto">Produtos</a>
    <a class="btn btn-primary" href="/Fornecedor">Fornecedores</a>
    <a class="btn btn-success" href="/Venda">Vendas</a>
</div>
