@{
    ViewData["Title"] = "Início";
}

<h1>SGVendas</h1>

<p>
    Sistema Web de Vendas e Controle de Contas a Receber
</p>

<a class="btn btn-primary" asp-controller="Venda" asp-action="Index">
    Ir para Vendas
</a>
