@model IEnumerable<SGVendas.Domain.Entities.Cliente>

@{
    ViewData["Title"] = "Clientes";
}
@if (TempData["Sucesso"] != null)
{
    <div class="alert alert-success">
        @TempData["Sucesso"]
    </div>
}


<h2>Cadastro de Clientes</h2>

<p>Total de registros: @ViewBag.Total</p>


<form method="get" class="mb-3">
    <div class="input-group">
        <input type="text"
               name="filtro"
               value="@ViewBag.Filtro"
               class="form-control"
               placeholder="Pesquisar cliente por nome, CPF ou CNPJ" />

        <button type="submit" class="btn btn-primary">
            Pesquisar
        </button>

        @if (!string.IsNullOrEmpty(ViewBag.Filtro))
        {
            <a asp-action="Index" class="btn btn-secondary">
                Limpar
            </a>
        }
    </div>
</form>




<p>
    <a asp-action="Criar" class="btn btn-primary">Novo</a>
</p>






<div id="resultado">
    @Html.Partial("_TabelaClientes", Model)
</div>


@section Scripts {
    <script>
        let timer = null;

        document.getElementById("filtro").addEventListener("keyup", function () {
            clearTimeout(timer);

            const termo = this.value;

            timer = setTimeout(() => {
                fetch(`/Cliente/BuscarAjax?termo=${termo}`)
                    .then(r => r.text())
                    .then(html => {
                        document.getElementById("resultado").innerHTML = html;
                    });
            }, 400); // debounce
        });
    </script>
}
